RewriteEngine On

RewriteRule ^backend$ html/HomeBackEnd.php
RewriteRule ^about$ html/about.php
RewriteRule ^mention$ html/mention.php


RewriteRule ^project-front/([0-9])+-([a-z-]+)$ html/project-front.php?id=$1&name=$2
RewriteRule ^project-back/([0-9])+-([a-z-]+)$ html/project-back.php?id=$1&name=$2